<h1>Edit <%= @recipe.name %></h1>

<%= render('layouts/errors', :object => @recipe) %>

<!--form action="/recipes/<%= @recipe.id %>/" method="post">
  <input name="_method" type="hidden" value="patch"-->
  <%= render('form') %>
  <!--button>Update Recipe</button-->
</form>


