- content_for :form_errors do
  - if object.errors.count > 0;
    %p.help-block
      = pluralize(object.errors.count, "error")
      prevented the form from being saved:
    / %ul
    /   - object.errors.full_messages.each do |message|
    /     %li= message