%h3= @tag.name
%p= link_to "Edit", edit_tag_path(@tag)
%p= link_to "Delete", tag_path(@tag), |
    :confirm => "You sure?",                |
    :method => "delete",                    |
    :class => "btn btn-danger"              |
