@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.help-block {
  color: red;
}

li, td {
  font-size: 140%;
}

#new {
  color: green;
  font-style: italic;
  font-weight: bold;
  font-size: 80%;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.header-table {
  width: 400px;
}

#add-button-div {
  height: 54px;
  line-height: 54px;
}

/* checkboxes */

label {
  display: block;
}

/* flash */

#flash-messages {
  height: 60px;
}

/* stars */

.glyphicon.glyphicon-star {
  color: gold;
}

/* list */


.dl-horizontal dt{
    text-align: left;
    margin-bottom: 1em;
    width: 100px;
    padding-right: 1em;
}

.dl-horizontal dd{
    margin-left: 0;
    margin-bottom: 1em;
}

/* table */

.tag-row {
  vertical-align: bottom;
}

.tag-row h3 {
  margin-bottom: 0px;
}

#tag-buttons {
  padding-left: 20px;
}

td {
  padding-right: 30px;
}

/* form */

textarea {
    width: 400px;
    height: 200px;
}


