%h3 Recipe Contributors
%ul
  - @contributors.each do |contributor|
    %li= link_to contributor.name, contributor_path(contributor.id)
%hr
%h3 Add a Contributor
%form{:action => "/contributors", :method => "post"}
  = render('form')
