<h1>Recipe Contributors</h1>

<ul>
  <% @contributors.each do |contributor| %>
    <li><%= link_to contributor.name, contributor_path(contributor.id) %></li>
  <% end %>
</ul>

<h3>Add a Contributor</h3>

<form action="/contributors" method="post">
  
  <%= render('form') %>

  <button>Create Contact</button>

</form>

