.row
  .col-md-9
    %h3 Contributors
  .col-md-3
    .div#add-button-div
      %a.btn.btn-default{:href => new_contributor_path} Add a contributor
%br
.row
  %ul
    - @contributors.each do |contributor|
      %li= link_to contributor.name, contributor_path(contributor.id)
