<h1><%= @contributor.name %></h1>

<p>Recipes I created!</p>

<p><%= link_to "Edit", edit_contributor_path(@contributor) %></p><!--a href="/contributors/<%= @contributor.id %>/edit">Edit</a-->
<p><%= link_to "Delete", contributor_path(@contributor),
      :confirm => "You sure?",
      :method => "delete",
      :class => "btn btn-danger" %></p>


