%table
  %tr.tag-row
    %td
      %h3= @contributor.name
    %td#tag-buttons
      = link_to "Edit", edit_contributor_path(@contributor),
        :class => "btn btn-default btn-xs"
      = link_to "Delete", contributor_path(@contributor),
        :confirm => "You sure?",
        :method => "delete",
        :class => "btn btn-danger btn-xs"
%br
%h4 Recipes
- @contributor.recipes.each do | recipe |
  = link_to recipe.name, recipe_path(recipe)